img{
    width: 100%;
    height: 100%;
}
.row{
height: 400px;
display: flex;
margin-bottom: 10px;
gap: 10px;
}
.row > div{
    flex: 1;
}
.collage-row img{
    height: 49.7%;  
}
.collage-col{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}